*
 {
    box-sizing: border-box;
    font-family: irsans, Geneva, sans-serif;
    text-decoration: none;
}
.login {
    direction: ltr;
    font-size: small;
    padding-bottom: 20px;
    color: #f9f9f9;
    text-decoration: none;
    padding-top: 5px;
    
}

body {
    background-color: white;
    margin: 0px;
    direction: rtl;
    font-size: 17px;
}

@font-face {
    font-family: 'sahel-font';
    src: url('font/sahel-font.eot');
    src: url('font/sahel-font.eot?#iefix') format('embedded-opentype'), url('font/sahel-font.woff') format('woff'), url('font/sahel-font.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    font-display: swap;
}

.post-titr ul {
    font-family: irsans, irsans, Geneva, sans-serif;
    display: block;
    font-size: 16px;
}

ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
    background-color: #04724d;
   
}

li {
    float: right;
}

li  .a,
.dropbtn {
    display: inline-block;
    color: #f9f9f9;
    text-align: center;
    padding: 25px 25px;
    text-decoration: none;
}

li .a:hover,
.dropdown:hover .dropbtn {
    background-color: #ec7345;

}

li.dropdown {
    display: inline-block;
}

.dropdown-content {
    cursor: pointer;
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content .a {
    color: #3a827e;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: right;
}

.dropdown-content .a:hover {
    background-color: #f9f9f9;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.icon {
    float: left;
    color: #f9f9f9;
    padding-left: 50px;
    font-size: 17px;
}

.logobar {
    background-color: #ec7345;
    padding: 24px 26px;
    color: #04724d;
    font-family: irsans, Geneva, sans-serif;
    font-size: larger;
    font-weight: bold;
}


.startnews{
  width: 100%;
  padding: 0px;
  margin: 0%;
}
.news{
  background-color: whitesmoke;
  float: left;
  height: 100%;
  width: 50%;
  border: #f0ead2 solid 1px;
}
.Latestnews{
  background-color:whitesmoke;
  float: left;
  height: 100%;
  width: 25%;
  border: #f0ead2 solid 1px;
}
.Education{
  background-color: whitesmoke;
  float: left;
  height: 100%;
  width: 25%;
  padding-left: 10px;
  border: #f0ead2 solid 1px;

}
.newtext{
  font-size: large;
  font-weight: bold;
  color: #4a5759;
  text-align: center;
  padding-right: 10px;
}
.img-news-start{
  padding-top: 12.4px;
padding-right: 86px;
}
.text-news-start{
  font-size: 20px;
  font-weight: 600;
 padding-top: 10px;
 color: black;
}
.text-news-2{
  font-weight: 500px;
  color: #4a5759;
  padding: 15px;
  padding-top: 0px;
  text-align: justify;
  display: inline-block;
}
.Latestnews-text{
  color: #463f3a;
  font-size: 15px;
font-weight: 600;

 }
 .color-link{
  color: #463f3a;
 }


 .text-Latest{

  padding-top: 29.11px;
  padding-left: 10px;
  text-align: justify;
 }
 .text-Latest2{

  padding-top: 0px;
  padding-left: 20px;
  text-align: justify;
  font-size:14px;
  padding-bottom: 10px;
 }

 .img-Latest{
  border-radius: 20px;
  padding:5px;
 }
 .video{
padding-top: 0%;
padding-bottom: 0%;
text-align: center;
font-size: 15px;
font-weight: 600;
color: #463f3a;
 }
 .copyRight{
  height:100%;
  width: 1349px;
  background-color:  #bcb8b1;
  color: #463f3a;
  padding: 50px;
 }
 .copyRight-text{
  text-align: center;
  padding-top: 10px;
 }
 .copyright-logo{
  float: right;
  height: 100px;
  width: 100px;
  border-radius: 60px;
 }
 .copyright-name{
  font-weight: 700;
  padding-right: 10px;
 }
 
 .img-start{
  height: 521px;
  width: 810px;

}

.start{

  height: 600px;
  width:100%;
  background-color: white;

}
.text-pic{
  padding-top: 160px;
}
.text-pic-start{
color: #4a5759;
font-size: 20px;
}
.text-pic-start-1{
  color:#ec7345;
  font-weight: 700;
  font-size:x-large;
}
.img-review{
  padding-right: 20px;
  padding-left: 10px;
  width: 220px;
  height: 120px;
}
.text-news-start2{
  font-size: 20px;
  font-weight: 600;
 color: black;

}
.button{
  padding: 9.5px;
  color:#463f3a;
  border-radius: 15px;
  text-align: center;
  }

.button1{
  text-align: center;
  padding-bottom: 4px;


}