*
 {
    box-sizing: border-box;
    font-family: irsans, Geneva, sans-serif;
    text-decoration: none;
}
.login {
    direction: ltr;
    font-size: small;
    padding-bottom: 20px;
    color: #f9f9f9;
    text-decoration: none;
    padding-top: 5px;
    
}

body {
    background-color: white;
    margin: 0px;
    direction: rtl;
    font-size: 17px;
}

@font-face {
    font-family: 'sahel-font';
    src: url('font/sahel-font.eot');
    src: url('font/sahel-font.eot?#iefix') format('embedded-opentype'), url('font/sahel-font.woff') format('woff'), url('font/sahel-font.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    font-display: swap;
}

.post-titr ul {
    font-family: irsans, irsans, Geneva, sans-serif;
    display: block;
    font-size: 16px;
}

ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
    background-color: #04724d;
   
}

li {
    float: right;
}

li  .a,
.dropbtn {
    display: inline-block;
    color: #f9f9f9;
    text-align: center;
    padding: 25px 25px;
    text-decoration: none;
}

li .a:hover,
.dropdown:hover .dropbtn {
    background-color: #ec7345;

}

li.dropdown {
    display: inline-block;
}

.dropdown-content {
    cursor: pointer;
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content .a {
    color: #3a827e;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: right;
}

.dropdown-content .a:hover {
    background-color: #f9f9f9;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.icon {
    float: left;
    color: #f9f9f9;
    padding-left: 50px;
    font-size: 17px;
}

.logobar {
    background-color: #ec7345;
    padding: 24px 26px;
    color: #04724d;
    font-family: irsans, Geneva, sans-serif;
    font-size: larger;
    font-weight: bold;
}

.copyRight{
height:100%;
width: 1349px;
background-color:  #bcb8b1;
color: #463f3a;
padding: 50px;
}
.copyRight-text{
text-align: center;
padding-top: 10px;
}
.copyright-logo{
float: right;
height: 100px;
width: 100px;
border-radius: 60px;
}
.copyright-name{
font-weight: 700;
padding-right: 10px;
}

.news-1{
    padding-top: 90px;


}
.img-news{
    padding-left: 40px;
    width: 600px;
    height: 350px;
    border-radius: 20% 0%;


}
.titr{
    font-size:25px;
    font-weight: 600;
    padding-left: 500px;
    padding-top: 60px;
    padding-right: 30px;
}
.news-text{
font-size: large;
font-weight: 400;
color: #403d39;
padding-top: 20px;
padding-right: 30px;
word-wrap: 20px;
}
.share{
  padding-top: 20px;
  padding-right: 30px; 
  padding-bottom: 100px; 
  font-size: 20px;
  color: #04724d;


}
.icon-bar{
    font-size: 20px;
    color: #04724d;
    
}
.text-news{
    padding-left: 30px;
    padding-right: 30px;
    font-size: large;
    font-weight: 400;
    color: #403d39;
    text-align: justify;
    line-height: 200%;

}
.news-img{
    width: 100%;
    height: 600px;
}
.text-news-1{
    font-size:25px;
    font-weight: 600;
    padding-top: 60px;
    padding-right: 30px;
    text-align: center;  
}
.news-img-1{
    padding-right: 300px;
}
